nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
    background-color: rosybrown;
}

nav ul{
    display: flex;
    list-style: none;
}

a{
    padding: 40px;
}

.ocii1{
    text-align: right;
}

table{
    width: 100%;
}

.kenalan{
    padding-top: 30px;
    padding-bottom: 30px;
}

video{
    width: 450px;
    height: 450px;
}

.kenalan{
    background-color: rosybrown;
}

.link{
    width: 300px;
}